<div class="min-h-screen bg-green-400 py-10  flex flex-row w-full md:max-h-96 justify-center  ">
  <div class="relative flex flex-row px-4 py-10  w-full justify-center shadow-lg  sm:p-20">
      <div class="relative px-4 py-10 bg-white shadow-lg  w-2/5">
          <header class="font-bold text-center text-green-400">Task</header>
          <div class="h-full flex flex-col justify-between">
            <input type="text"  #name class="rounded-l border border-green-300" placeholder="Name">
                          
              <button  class="bg-green-400 p4 m-3 px-3 py-4 justify-center rounded text-white text-center" (click)="create(name.value)">New Task</button>
         
            </div>
      </div>
      <div class="relative  px-4 py-10 bg-green-100 shadow-lg w-3/5 ">
          <header class="font-bold text-center text-green-400">
              TODO
          </header>
          <div *ngFor="let Tasks of task; let i=index;"  class="flex flex-row justify-between">
<div class="">
   {{i}} {{Tasks.title}}
 
</div>
<div class="flex self-end w-4"> <img src="./assets/delete.png" (click)="delete(i)"></div>

          </div>
          
         
                 
        
      
      </div>
  
</div>